* {
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5rem;
}

body {
    background: linear-gradient(135deg, #059669 0%, #10b981 50%, #6ee7b7 100%);



}

html {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    border: solid 5px rgb(70, 70, 179);
    border-radius: 20px;
    height: 600px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px;
    background: linear-gradient(135deg, #d0d4da 0%, #298865 100%); 
}

#display {
    width: 600px;
    text-align: right;
}

#buttons {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}


button {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: solid 2px;
}

button:hover {
    cursor: pointer;
    background: rgb(225, 177, 87);
    border: solid 5px rgb(255, 166, 0);
}